<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Welcome to tutorial of web sockets</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body class="container">
      
      <h1 style="color: blue;">Welcome to tutorial of web sockets </h1>

      <div style="height:400px;color: black ; padding-bottom: 20px; background-color: rgb(194, 240, 238); list-style: none;" class="overflow-y-scroll p-1" id="msgList">
            <% for(var i = 0; i < chats.length; i++ ){ %>
                  <div class="d-flex">
                        <li><%=chats[i].userId%></li>
                        <li>: <%=chats[i].content%></li>
                        </div>
                 
            <% } %>
            
      </div>

      <h1 id="roomId" data-id="<%=id%>"></h1>


      <input class="pt-1 mt-1" type="text" placeholder="Enter name" id="name">
      <input class="pt-1 mt-1" placeholder="Enter message" id="newMsg" type="text">

      <button id="btn" style="border:30px; border-radius: 40px; padding: 4px; color: black; background-color: rgb(43, 226, 202); cursor: pointer;" type="submit">Submit</button>

      <script src="/socket.io/socket.io.js"></script>
      <script>
            var socket = io();
            let btn = document.getElementById("btn");
            let btn1 = document.getElementById("btn1");
            let inputMsg1 = document.getElementById("newMsg");
            let inputMsg2 = document.getElementById("name");
            let inputList = document.getElementById("msgList");

            let id = document.getElementById("roomId");


            socket.emit("join_room", {
                id: id.getAttribute("data-id"),
            });

            btn.onclick = function () {
              socket.emit("msg_send", {
                name: inputMsg2.value,
                msg: inputMsg1.value,
                id: id.getAttribute("data-id"),
              });
            };

            socket.on("msg_rev", (data) => {
              let limsg = document.createElement("li");
              console.log("data ",);
              limsg.innerText = `${data.name}:${data.msg}`;
              inputList.append(limsg);
            });

      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>